configuration {
  modes:               "drun,run,window,filebrowser,calc";
  show-icons:          true;
  icon-theme:          "Papirus";
  drun-display-format: "{name}";
  window-format:       "{w} · {c} · {t}";
  font:                "Inter 15";
  terminal:            "ghostty";
}

@theme "~/.config/rofi/gruvbox.rasi"
