@import "colors.rasinc"

* {
  background-color: transparent;
  text-color:       @fg;
  border:           0;
  margin:           0;
  padding:          0;
  spacing:          0;
}

window {
  background-color: @bg-hard;
  border:           1px solid;
  border-color:     @bg2;
  border-radius:    12px;
  width:            1080px;
}

inputbar { enabled: false; }

listview {
  background-color: transparent;
  padding:          12px;
  spacing:          10px;
  columns:          4;
  lines:            3;
  scrollbar:        false;
  fixed-height:     false;
}

element {
  background-color: @bg;
  border-radius:    8px;
  padding:          6px;
  cursor:           pointer;
  orientation:      vertical;
  children:         [ element-icon, element-text ];
  spacing:          6px;
}

element selected.normal {
  background-color: @bg1;
  border:           2px solid;
  border-color:     @bg2;
}

element-icon {
  background-color: transparent;
  size:             240px;
  border-radius:    6px;
}

element-text {
  background-color: transparent;
  text-color:       @fg-dim;
  horizontal-align: 0.5;
  vertical-align:   0.5;
  font:             "Inter 11";
}

element selected.normal element-text {
  text-color: @fg;
}
