{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
  {{- $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $de := "" -}}
{{- $shell := "" -}}
{{- if eq $osID "linux-arch" -}}
  {{- $de = "hyprland" -}}
  {{- $shell = "modular" -}}
{{- else if eq $osID "linux-debian" -}}
  {{- $de = "hyprland" -}}
  {{- $shell = "noctalia" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data.system]
osid  = {{ $osID | quote }}
de    = {{ $de | quote }}
shell = {{ $shell | quote }}
