// ── Misc ─────────────────────────────────────────────────────────────

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y%m%d_%H%M%S.png"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

blur {
    passes 2
    offset 3.0
    noise 0.03
    saturation 1.0
}

debug {
    // notification actions and window activation from noctalia
    honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
    skip-at-startup
}
